{
  "presets": [
    ["@babel/preset-env", { "modules": false }]
  ],
  "env": {
    "test": {
      "plugins": [
	"@vue/babel-plugin-transform-vue-jsx",
	"@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
